<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>

    <!-- Bootstrap einbinden -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Users</h2></div>
    <!-- Section for adding new User-->
    <div class="m-2">
        <a class="h3" th:href="@{/users/new}">Add New User</a>
    </div>
    <!-- Implement Message "User Successfully Added"-->
    <div th:if="${message}" class="alert alert-success text-center">
        <!--Displays a Message-->
        [[${message}]]
    </div>
    <!-- New Div for the User Listing TABLE-->
    <div>
        <table class="table table-bordered">
            <!-- For the table colomns Name-->
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-Mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <!-- Empty Header to the Hyperlinks-->
                <th></th>
            </tr>
            </thead>
            <!-- For the real information data-->
            <!-- We have to use the Thymeleaf Header option-->
            <tbody>
                <th:block th:each="user : ${listUsers}">
                    <tr>
                        <!--Referenz auf die Datenfelder aus der User-Class-->
                        <td>[[${user.id}]]</td>
                        <td>[[${user.email}]]</td>
                        <!-- ACHTUNG: Obwohl als firstName deklariert, wird nur firstname akzeptiert-->
                        <td>[[${user.firstname}]]</td>
                        <td>[[${user.lastname}]]</td>
                        <td>[[${user.enabled}]]</td>
                        <!-- For the Action Hyperlink: Edit & Delete-->
                        <td>
                            <a class="h4 mr-3" th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
                            <a class="h4" th:href="@{'/users/delete/'+ ${user.id}}">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>