<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Wetterstation</title>

    <!-- Bootstrap einbinden -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>

</head>
<body>
<div class="container-fluid text-center">
    <h1 class="mt-5">Welcome to My Wetterstation</h1>
    <a class="h2" th:href="@{/web/showAllMesswerte}">Manage Messwerte</a>
</div>
</body>
</html>
