<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>

    <!-- Bootstrap einbinden -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Messwerte</h2></div>
    <!-- Section for adding new User-->
    <div class="m-2">
        <a class="h3" th:href="@{/web/new}">Add New Messwerte</a>
    </div>
    <!-- Implement Message "Messwerte Successfully Added"-->

    <!-- New Div for the User Listing TABLE-->
    <div>
        <table class="table table-bordered">
            <!-- For the table colomns Name-->
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Messwerte</th>
                <th>Station</th>
                <!-- Empty Header to the Hyperlinks-->
                <th></th>
            </tr>
            </thead>
            <!-- For the real information data-->
            <!-- We have to use the Thymeleaf Header option-->
            <tbody>
            <th:block th:each="messwert : ${messwerteList}">
                <tr>
                    <!--Referenz auf die Datenfelder aus der Messwert-Class-->
                    <td>[[${messwert.id}]]</td>
                    <td>[[${messwert.name}]]</td>
                    <td>[[${messwert.value}]]</td>
                    <!-- For the Action Hyperlink: Edit & Delete-->
                    <td>
                        <a class="h4 mr-3" th:href="@{'/web/edit/' + ${messwert.id}}">Edit</a>
                        <a class="h4" th:href="@{'/web/delete/'+ ${messwert.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
