<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Use Thymeleaf expression-->
    <title>[[${pageTitle}]]</title>

    <!-- Bootstrap einbinden -->
    <<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/web/save}" method="post" th:object="${messwert}" style="max-width: 500px;margin: 0 auto;">
        <!--To Update the User Class-->
        <!-- Map to the User Entity Class ID-->
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Messwert:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{value}" class="form-group"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Stationsame:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-group" required minlength="2"maxlength="45"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="submit" class="btn btn-secondary m-2"onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<!-- Einbindung von JavaScript für den Cancel-Button-->
<script type="text/javascript">
    function cancelForm(){
        //Use Thymeleaf expression!
        window.location = "[[@{/messwerte}]]"
    }
</script>
</body>
</html>
